{
  "ADMIN_EMAIL": "you@example.com",
  "AMAZON_PAYMENTS_CLIENT_ID": "CLIENT_ID",
  "AMAZON_PAYMENTS_MWS_KEY": "",
  "AMAZON_PAYMENTS_MWS_SECRET": "",
  "AMAZON_PAYMENTS_SELLER_ID": "SELLER_ID",
  "AMPLITUDE_KEY": "AMPLITUDE_KEY",
  "BASE_URL": "http://localhost:3000",
  "CRON_SAFE_MODE": "false",
  "CRON_SEMI_SAFE_MODE": "false",
  "EMAIL_SERVER_AUTH_PASSWORD": "password",
  "EMAIL_SERVER_AUTH_USER": "user",
  "EMAIL_SERVER_URL": "http://example.com",
  "ENABLE_CONSOLE_LOGS_IN_PROD": "false",
  "ENABLE_CONSOLE_LOGS_IN_TEST": false,
  "FACEBOOK_KEY": "123456789012345",
  "FACEBOOK_SECRET": "aaaabbbbccccddddeeeeffff00001111",
  "FLAG_REPORT_EMAIL": "email@mod.com,email2@mod.com",
  "GA_ID": "GA_ID",
  "GOOGLE_CLIENT_ID": "123456789012345",
  "GOOGLE_CLIENT_SECRET": "aaaabbbbccccddddeeeeffff00001111",
  "IAP_GOOGLE_KEYDIR": "/path/to/google/public/key/dir/",
  "IP": "0.0.0.0",
  "LOGGLY_ACCOUNT": "account",
  "LOGGLY_TOKEN": "token",
  "MAINTENANCE_MODE": "false",
  "NODE_DB_URI": "mongodb://localhost/habitrpg",
  "NODE_ENV": "development",
  "PAYPAL_BILLING_PLANS_BASIC_12MO": "basic_12mo",
  "PAYPAL_BILLING_PLANS_BASIC_EARNED": "basic_earned",
  "PAYPAL_BILLING_PLANS_BASIC_3MO": "basic_3mo",
  "PAYPAL_BILLING_PLANS_BASIC_6MO": "basic_6mo",
  "PAYPAL_BILLING_PLANS_GOOGLE_6MO": "google_6mo",
  "PAYPAL_CLIENT_ID": "client_id",
  "PAYPAL_CLIENT_SECRET": "client_secret",
  "PAYPAL_MODE": "sandbox",
  "PLAY_API_ACCESS_TOKEN": "aaaabbbbccccddddeeeeffff00001111",
  "PLAY_API_CLIENT_ID": "aaaabbbbccccddddeeeeffff00001111",
  "PLAY_API_CLIENT_SECRET": "aaaabbbbccccddddeeeeffff00001111",
  "PLAY_API_REFRESH_TOKEN": "aaaabbbbccccddddeeeeffff00001111",
  "PORT": 3000,
  "PUSHER_APP_ID": "appId",
  "PUSHER_ENABLED": "false",
  "PUSHER_KEY": "key",
  "PUSHER_SECRET": "secret",
  "PUSH_CONFIGS_APN_ENABLED": "true",
  "PUSH_CONFIGS_FCM_SERVER_API_KEY": "",
  "S3_ACCESS_KEY_ID": "accessKeyId",
  "S3_BUCKET": "bucket",
  "S3_SECRET_ACCESS_KEY": "secretAccessKey",
  "SESSION_SECRET": "YOUR SECRET HERE",
  "SLACK_FLAGGING_FOOTER_LINK": "https://habitrpg.github.io/flag-o-rama/",
  "SLACK_FLAGGING_URL": "https://hooks.slack.com/services/id/id/id",
  "SLACK_SUBSCRIPTIONS_URL": "https://hooks.slack.com/services/id/id/id",
  "SLACK_URL": "https://hooks.slack.com/services/some-url",
  "SMTP_HOST": "example.com",
  "SMTP_PASS": "password",
  "SMTP_PORT": 587,
  "SMTP_SERVICE": "Gmail",
  "SMTP_TLS": true,
  "SMTP_USER": "user@example.com",
  "STRIPE_API_KEY": "aaaabbbbccccddddeeeeffff00001111",
  "STRIPE_PUB_KEY": "22223333444455556666777788889999",
  "TEST_DB_URI": "mongodb://localhost/habitrpg_test",
  "TRANSIFEX_SLACK_CHANNEL": "transifex",
  "WEB_CONCURRENCY": 1
}
